body {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	line-height: 1.5em;
}

#container {
	width: 70%;
	margin: 10px auto;
	background: #ffffff;
	/*	if content breaks out it will give a scrollbar 
	(Brad always does this for his containers */
	overflow: auto;
}

/*Used reset file so must specify some general styles*/

p {
	margin: 10px 0;
	line-height: 1.5em;
}

h1 {
	font-size: 39px;
	font-weight: bold;
	margin: 20px 0 10px 0;
	line-height: 1.2em;
}

h3 {
	font-size: 22px;
	margin: 10px 0;
}

h4 {
	font-size: 19px;
	margin: 10px 0;
}

strong {
	font-weight: bold;
}


.clearfix {
	clear: both;
}

/*   End of base styling */


header#main-header {
	border-bottom: 4px solid #4ea0d8;
}

#logo {
	margin: auto;
	display: block;
}

#main-text {
	text-align: center;
	color: #333333;
	padding: 10px;
	margin-bottom: 20px;
}

#sub-1 {
	float: left;
	width: 48%;
}

#sub-2 {
	float: right;
	width: 48%;
}

/*Left hand content column*/

.points li {
	margin-bottom: 30px;
}

.points img {
	float: left;
	margin-right: 7px;
}

.points h4 {
	padding-top: 5px;
}

/*Left hand content column - footer */

.content-footer {
	border-top: #dddddd solid 1px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}



/*Right hand content column*/

#contact-form {
	padding: 10px 15px 15px 15px;
	border: 4px solid #4ea0d8;
	border-radius: 10px;
	overflow: auto;
	background: #f4f4f4;
}

#contact-form div {
	margin-bottom: 20px;
}

#contact-form label {
	display: inline-block;
	width: 100px;
	font-weight: bold;
}

#contact-form input[type='text'],
#contact-form input[type='email'] {
	border: #cccccc 1px solid;
	border-radius: 5px;
	height: 25px;
	width: 65%;
}

#contact-form input[type='submit'] {
	padding: 12px 17px;
	color: #ffffff;
	background: #fa6e3e;
	border: 0;
	border-radius: 5px;
	float: right;
	display: block;
	margin-right: 20px;
}

#contact-form input[type='submit']:hover {
	background: #d55427;
	cursor: pointer;
}
/*Right hand content column - header */

#content-header {
	border-top: #dddddd solid 1px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

/*Right hand content column - footer */

#contact-form .content-footer p {
	font-style: italic;
	text-align: center;
	color: #666666;
	font-size: 80%;
}

#testimonial {
	margin: 40px 0;
	font-style: italic;
	color: #666666;
}

#testimonial img {
	float: left;
	margin-right: 20px;
}








